.blue-button {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    color: #2196F3;
    font-size: 16px;
    padding: 7px 25px;
    border-radius: 10px;
    border: 2px solid #2196F3;
    background: #FFFFFF;
    
  }
  .blue-button:hover {
    color: #6aaaff ;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #9cc9e6; 
  }
